#root{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: white
}

h1{
    color: white;
}



.card-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid blue;
    margin: 0 auto;
}

.card{
    display: flex;
    text-align: center;
    border-radius: 10px;
    background-color: grey;
    color: white;
    padding: 2em;
    margin: 5px;
    font-size: 1em;
    
}

.student-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid red;
    margin: 10px;
    background-color: rgb(0, 0, 0);
    padding: 10PX;
    width: 1440px;
    max-width: fit-content;
}

.student-card{
    background-color: rgb(65, 64, 64);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vmin;
    height: auto;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;

}